
*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1{
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}


.appliation-details h2{
    font-size: 3rem;
    font-family: sans-serif;
}

.color-1{

}

.color-2{
    color: #1a53da;
}

.color-blue{
    color: red;
}

/* header section starts from here  */


.top-section{
    display: flex;
    margin-bottom: 100px;
    width: 1250px;
    margin: auto;
}


.half-width{
    width: 50%;
    padding-left: 5%;
    float: left;
}

.top-image{
    width: 60%;
    align-items: center;
    margin-left: 111px;
    margin-top: 10px;
}

.header-text{
    text-align: justify;
    line-height: 2.2rem;
    margin-bottom: 3rem;
}


.link-button{
    text-decoration: none;
    padding: 12px 30px;
    background-image: linear-gradient(90deg, #5fcf30 25%, #5984ff 72%);
    color: white;
    font-weight: bold;
    border-radius: 5px;
}


.first-link-div{
    margin-top: 40px;
}

.header-text-style{
    border-left: 5px solid;
    border-color: tomato;
    border-image-slice: 1;
    padding-left: 10px;

}

.top-extra-text{
    margin-top: 50px;
}
 
/* header section ends from here  */

/* mission section start here  */


.mission-section{
    margin-bottom: 200px;
    width: 1250px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.mission-heading{
    text-align: center;
}
.all-mission-card{
    display: flex;
    align-items: center;
    width: 1190px;
    margin: auto;

}

.mission-card{
    width: 28%;
    padding: 30px;
    height: 400px;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 3px 3px 32px black;

}

.mission-card p{
    padding: 5px;
}

.ils-image{
    width: 40%;
}

.first-miss-card{
    float: left;
    background-color: #ffb4ef;
}
.second-miss-card{
    margin: 0 auto;
    background-color: #adfde3;
}
.third-miss-card{
    float: right;
    background-color: #ffc8a0;
}

/* mission section ends from here  */

/* developer starts here  */



.developer-section{
    display: flex;
    margin-top: 100px;
}
.dev-image{
    width: 67%;
}

.dev-image{
    width: 80%;
    margin-top: 45px;
}



.dev-heading{
    font-weight:bold ;
    font-family: sans-serif;
}

.dev-text{
    text-align: justify;
    font-family: sans-serif;
    letter-spacing: .1rem;
    line-height: 2.8rem;
    margin-bottom: 3rem;
}


.dev-left{
    width: 35%;
    padding-left: 5%;
    margin-left: 45px;
}

.dev-right{
    width: 50%;
    padding-left: 2%;
    margin-left: -20px;

}

.second-link{
    margin-top: 35px;
}

/* developer section ends from here  */



/* community starts here  */

.com-section{
    display: flex;
    width: 1250px;
    margin-top: 100px;
    margin-left: 10px;

}

.com-left{
    width: 50%;
    float: left;
    padding: 40px;
    margin: 0px 40px 0px 46px;

}
.com-right{
    width: 485px;
    float: left;
    padding-left: 5%;
    margin: 0px -47px 0px 9px;

}

.com-image{
    width: 90%;
    margin-top: 45px;
    float: right;
    margin-right: 57px;
}

.com-heading{
    font-family: sans-serif;
    font-weight: bold;

}

.com-text{
    text-align: justify;
    font-family: sans-serif;
    letter-spacing: .1rem;
    line-height: 2rem;
    padding-bottom: 3rem;
}



/* application section start from here  */


.application-section{
    margin-bottom: 180px;
}

.application-heading{
    text-align: center;
    margin-bottom: -50px;
}

.application-container{
    display: flex;
}

.application-img{
    width: 41%;
    
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-top: 144px;
    margin-left: 36px;

}

.application-img img{
    width: 89%;
    border: 4px solid white;
    margin-left: 60px;
    border-radius: 10px;
    height: 73%;
    box-shadow: 11px 15px 19px gray;
}

.appliation-details{
    width: 50%;
    float: right;
    margin: 6rem;
}

.application-para{
    text-align: justify;
    font-family: sans-serif;
    letter-spacing: .1rem;
    line-height: 2rem;
    margin-bottom: 0rem;
}

.app-button{
    margin-top: 30px;
}

/* application section ends from here  */



/* footer design starts from here  */

#footer-id{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #162039;
    color: white;
}

#footer-id h2{
    color: white;
    font-family:monospace;
    font-size: 2rem;
    margin: 0px;
}

.sub-text-color{
    color: gold;
}

