body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
p{
    font-weight: bold;
    
}
.color-blue{
    color: red;
}
.top-section{
    display: flex;
    margin-bottom: 100px;
    width: 1250px;
    margin: auto;
}


.half-width{
    width: 50%;
    padding-left: 5%;
    float: left;
}

.top-image{
    width: 60%;
    align-items: center;
    margin-left: 111px;
    margin-top: -63px;
}

.link-button{
    text-decoration: none;
    padding: 12px 30px;
    background-color:#4a77da;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}


.first-link-div{
    margin-top: 40px;
}

.header-text-style{
    border-left: 5px solid;
    border-color: tomato;
    border-image-slice: 1;
    padding-left: 10px;

}

.top-extra-text{
    margin-top: 50px;
}

/* mission section start here  */


.mission-section{
    margin-bottom: 200px;
    width: 1250px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.mission-heading{
    text-align: center;
}
.all-mission-card{
    display: flex;
    align-items: center;
    width: 1190px;
    margin: auto;

}

.mission-card{
    width: 25%;
    padding: 20px;
    height: 350px;
    margin: 30px;
    border-radius: 20px;

}

.ils-image{
    width: 40%;
}

.first-miss-card{
    float: left;
    background-color: #edf5f7;
}
.second-miss-card{
    margin: 0 auto;
    background-color: #ffeeee;
}
.third-miss-card{
    float: right;
    background-color: #fff4d6;
}


.dev-image{
    width: 67%;
}

.developer-section{
    display: flex;
    margin-top: 150px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}


.dev-image{
    width: 80%;
}



.dev-heading{
    font-weight:bold ;
}


.dev-left{
    width: 35%;
    padding-left: 5%;
    margin-left: 40px;
}

.dev-right{
    width: 50%;
    padding-left: 2%;
    margin-left: -20px;

}
